* {
  font-family: 'Comfortaa', cursive;
}

html,
body {
  height: 100%;
  margin: 0 auto;
}

body {
  background-image:url(../images/background1.jpg);
}

.settings-wrapper {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url(../images/dark_wood.jpg);
  color: white;
  box-shadow: 3px 3px 10px 0 black;
}

.settings-wrapper:hover {
  box-shadow: 3px 3px 20px 0 black;
}

.operator {
  padding: 5px;
  font-weight: bold;
}

.head {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.result-wrapper {
  margin: 30px auto 20px auto;
  min-height: 450px;
  max-width: 600px;
  padding-top: 5px;
  padding-bottom: 10px;
  background-image: url(../images/25.png);
  box-shadow: 3px 3px 10px 0 dimgray;
  transform: rotate(1deg);
  position: relative;
}

.result-wrapper:hover {
  box-shadow: 3px 3px 30px 0 dimgray;
}

.result {
  display: block;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  font-family: 'Bad Script', cursive;
  font-size: 18px;
  color: darkblue;
}

.question {
  display: block;
  margin: 15px auto 5px auto;
  text-align: center;
}

.input {
  height: 25px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: cadetblue;
  box-shadow: 0px 0px 20px 0 black;
  font-weight: bold;
  padding: 5px;
  margin-top: 5px;
}

.mark {
  font-family: 'Bad Script', cursive;
  font-size: 18px;
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  transform: rotate(-10deg);
  border-top: 2px solid red;
  color: red;
  text-align: center;
  padding-top: 5px;
  min-width: 90px;
}

.score {
  color: red;
  font-size: 25px;
  font-weight: bold;
}

.correct_answer {
  color: green;
  font-weight: bold;
}

.uncorrect_answer {
  position: relative;
}

.uncorrect_answer:before {
  display: block;
  position: absolute;
  border-top: 2px solid red;
  left: -10%;
  top: 50%;
  content: "";
  color: red;
  font-weight: bold;
  width: 1px;
  height: 100%;
  width: 120%;
}

.corrected_answer {
  color: red;
  font-weight: bold;
}